
<!DOCTYPE html>
<html>
<head>
  <title>Masukkan Password</title>
</head>
<body style="text-align: center; margin-top: 50px;">
  <h2>Masukkan Password untuk Akses Dashboard Visualisasi</h2>
  <form method="POST" action="/dashboard/special-access/">
    {% csrf_token %}
    <input type="password" name="password" placeholder="Masukkan Password" required>
    <button type="submit" style="margin-top: 10px;">Submit</button>
  </form>
  {% if messages %}
    <div style="color: red; margin-top: 10px;">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  {% endif %}
  <div style="margin-top: 20px;">
    <a href="http://127.0.0.1:8000/">
        Kembali ke Halaman Utama
      </a>
      
</body>
</html>
